 .product{
border-bottom: 1px solid gray;
    background-color: #E7E9EB;

}
.moreProducts:hover .product{
border-bottom: 5px solid #000088;
}

.product button:hover{
    background-color: rgb(39, 36, 36);
    color: white;
}

.catagory a{
    text-decoration: none;
    margin-bottom: 50px;
    margin-left: 50px;
    color: rgb(8, 3, 3);
    font-weight: 700;
    font-size: larger;

    
}
.catagory a:hover{
border-bottom: 3px solid #000088;
}