.list{
    height: 700px;
    background-color: rgb(250, 253, 253);
    margin-top: -100px;
    margin-left: 30px;
    border-radius: 40px;
}
.list a{
    text-decoration: none;
    color: black;
    display: block;
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 700;
    font-size: large;
    padding: 5px;
}